.question{
    padding:20px;
    font-size:1.5rem;
    font-weight: bold;
}

.answerRadio{
    padding:10px;
}

.answerLabel{
    padding:10px;
    font-size: 1.2rem;
}

.timer-holder{
    background-color: green;
    font-size: 3rem;
}